.container-common-input {
  margin-bottom: 16px;

  .label-common-input {
    margin-bottom: 8px;
  }

  .error-message-common-input {
    color: #ff7851;
    margin-top: 4px;
    font-size: 14px;
  }
}
