.input-search {
  padding-left: 36px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.input-clear {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.icon-input-search {
  width: 20px;
  height: 20px;
  padding: 8px;
  opacity: 0.3;
}

.w-25 {
  display: flex;
}
